<!-- UAL Third-Party Footer -->
<footer class="ual-footer" role="contentinfo">
	<div class="wrapper">
		<div class="copyright">
			<p>&copy; University of the Arts London</p>
		</div>
		<div class="footer-links">
			<ul>
				<li><a href="http://www.arts.ac.uk/privacy-and-cookies/">Privacy &amp; Cookies</a></li>
				<li><a href="http://www.arts.ac.uk/disclaimer/">Disclaimer</a></li>
			</ul>
		</div>
	</div>
</footer>
 