<header class="global-header" role="banner">
 
	<div class="wrapper">

	<nav>
		<a href="#" id="trigger-menu-mobile" class="nav-mobile" title="Navigation"></a>
		<a href="http://www.arts.ac.uk/" title="University of the Arts London website">
			<img src="assets/img/logo-white-36px.png" alt="University of the Arts London logo" class="logo-desktop"> 
			<img src="assets/img/logo-sm.png" alt="University of the Arts London logo" class="logo-mobile"> 
		</a> 
		
		<ul> 		
			<li><a href="#" class="mega nav-courses" id="trigger-menu-course">Courses</a></li>
			<li><a href="#" class="mega nav-colleges" id="trigger-menu-colleges">Colleges</a></li>
			<li><a href="#" class="mega search" id="trigger-menu-search"><span></span></a></li>
		</ul>
	</nav> 	

	</div> 
</header> 

{{> menu }}
