<header class="global-header" role="banner">
 
	<div class="wrapper">

	<nav>
		<a href="http://www.arts.ac.uk/" title="University of the Arts London website">
			<img src="assets/img/logo-white-36px.png" alt="University of the Arts London logo" height="30px" width="125px" class="logo"> 
		</a> 
		
		<ul>
			<li><a href="#">Study</a></li>
			<li><a href="#">Research</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Alumni & Friends</a></li>
			<li><a href="#">Business</a></li>
			<li><a href="#">About UAL</a></li>
		
			<li><a href="#" class="mega">Courses</a></li>
			<li><a href="#" class="mega">Colleges</a></li>
			<li><a href="#" class="mega search"><span></span></a></li>
		</ul>
	</nav> 	

	</div> 
</header> 

{{> menu }}
