
<nav id="college-menu" class="global-menu college-menu">
	
	<div class="menu-header">
		<h4>Our Six Colleges</h4>
		<a href="#" title="Close main menu" id="trigger-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
			<a href="./.html" class="camberwell"><span>Camberwell College of Arts</span></a>
			<a href="./.html" class="csm"><span>Central Saint Martins</span></a>
			<a href="./.html" class="chelsea"><span>Chelsea College of Arts</span></a>
			<a href="./.html" class="comm"><span>London College of Communication</span></a>
			<a href="./.html" class="fashion"><span>London College of Fashion</span></a>
			<a href="./.html" class="wimbledon"><span>Wimbledon College of Arts</span></a>
	</div>
</nav>





<nav id="search-menu" class="global-menu search-menu">
	
	<div class="menu-header">
		<h4>Search</h4>
		<a href="#" title="Close main menu" id="search-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
		<input placeholder="Start typing" />
		<a href="#" class="button">Search</a>
	</div>
</nav>