
<nav id="course-menu" class="global-menu course-menu">
	
	<div class="menu-header">
		<h4>Find a course</h4>
		<a href="#" title="Close main menu" id="course-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
		<input placeholder="Find a course at UAL" /><br/>
		<select>
			<option>Level</option>
			<option>Level 2</option>
			<option>Level 3</option>
			<option>Level 4</option>
			<option>Level 5</option>
		</select>
		<a href="#" class="button">Search</a>
	</div>
</nav>

<nav id="college-menu" class="global-menu college-menu">
	
	<div class="menu-header">
		<h4>Our Six Colleges</h4>
		<a href="#" title="Close main menu" id="college-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
			<a href="./.html" class="camberwell"><span>Camberwell College of Arts</span></a>
			<a href="./.html" class="csm"><span>Central Saint Martins</span></a>
			<a href="./.html" class="chelsea"><span>Chelsea College of Arts</span></a>
			<a href="./.html" class="comm"><span>London College of Communication</span></a>
			<a href="./.html" class="fashion"><span>London College of Fashion</span></a>
			<a href="./.html" class="wimbledon"><span>Wimbledon College of Arts</span></a>
	</div>
</nav>

<nav id="search-menu" class="global-menu search-menu">
	
	<div class="menu-header">
		<h4>Search</h4>
		<a href="#" title="Close main menu" id="search-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
		<input placeholder="Start typing" />
		<a href="#" class="button">Search</a>
	</div>
</nav>



