
<nav id="course-menu" class="global-menu course-menu">
	
	<div class="menu-header">
		<h4>Find a course</h4>
		<a href="#" title="Close main menu" id="course-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
		<input placeholder="Find a course at UAL" /><br/>
		<select>
			<option>Level</option>
			<option>Level 2</option>
			<option>Level 3</option>
			<option>Level 4</option>
			<option>Level 5</option>
		</select>
		<a href="#" class="button">Search</a>
	</div>
</nav>

<nav id="college-menu" class="global-menu college-menu">
	
	<div class="menu-header">
		<h4>Our Six Colleges</h4>
		<a href="#" title="Close main menu" id="college-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
			<a href="javascript:void(0)" class="camberwell"><span>Camberwell College of Arts</span></a>
			<a href="./csm.html" class="csm"><span>Central Saint Martins</span></a>
			<a href="javascript:void(0)" class="chelsea"><span>Chelsea College of Arts</span></a>
			<a href="javascript:void(0)" class="comm"><span>London College of Communication</span></a>
			<a href="javascript:void(0)" class="fashion"><span>London College of Fashion</span></a>
			<a href="javascript:void(0)" class="wimbledon"><span>Wimbledon College of Arts</span></a>
	</div>
</nav>

<nav id="search-menu" class="global-menu search-menu">
	
	<div class="menu-header">
		<h4>Search</h4>
		<a href="#" title="Close main menu" id="search-menu-close" class="menu-button menu-close">Close</a>
	</div>

	<div class="menu-content">
		<input placeholder="Start typing" />
		<a href="#" class="button">Search</a>
	</div>
</nav>

<nav id="study-menu" class="global-menu study-menu">
	 
	<a href="#" title="Close main menu" id="study-menu-close" class="menu-button menu-close">Close</a>
 
	
	<div class="menu-content"> 
	<div class="wrapper">
		<ul>
			<li><a href="./study.html" class="{{#is page.basename "study"}}active{{/is }}">Study</a></li>
			<li><a href="javascript:void(0)">Courses</a></li>
			<li><a href="javascript:void(0)">Foundation Diploma in Art & Design</a></li>
			<li><a href="javascript:void(0)">Postrgraduate Study</a></li>
			<li><a href="javascript:void(0)">Short Courses</a></li>
			<li><a href="javascript:void(0)">International</a></li>
		</ul>
		<ul>
			<li><a href="javascript:void(0)">Study Abroad</a></li>
			<li><a href="javascript:void(0)">Erasmus & Non-Erasmus Exchanges</a></li>
			<li><a href="javascript:void(0)">Language Center</a></li>
			<li><a href="javascript:void(0)">Open Days</a></li>
			<li><a href="javascript:void(0)">Apply</a></li>
			<li><a href="javascript:void(0)">Enrol</a></li>
		</ul>
		<ul>
			<li><a href="studentfees.html">Student Fees & Funding</a></li>
			<li><a href="javascript:void(0)">Student Services</a></li>
			<li><a href="javascript:void(0)">Library Services</a></li>
			<li><a href="javascript:void(0)">Term Dates</a></li>
			<li><a href="javascript:void(0)">Academic Regulations</a></li>
			<li><a href="javascript:void(0)">Accomodation</a></li>
		</ul>
		<ul>
			<li><a href="javascript:void(0)">Students' Union</a></li>
			<li><a href="javascript:void(0)">Facilities</a></li>
			<li><a href="javascript:void(0)">Widening Participation</a></li>
			<li><a href="javascript:void(0)">Awards Ceremonies</a></li>
			<li><a href="javascript:void(0)">Term Dates</a></li>
			<li><a href="javascript:void(0)">Summer Shows</a></li>
		</ul>
	</div>
	</div>
</nav>

<nav id="mobile-menu" class="global-menu mobile-menu">
	<div class="menu-content">  
		<a href="#" title="Close main menu" id="mobile-menu-close" class="menu-button menu-close">Close</a>
		<ul>
			<li><a href="#" class="trigger-subnav">Study<span></span></a></li>
							
							<ul class="menu-expanded {{#is page.basename "studentfees"}}expanded{{/is }}{{#is page.basename "study"}}expanded{{/is }}">	
								<li><a href="./study.html" class="{{#is page.basename "study"}}active{{/is }}">Study</a></li>
								<li><a href="javascript:void(0)">Courses</a></li>
								<li><a href="javascript:void(0)">Foundation Diploma in Art & Design</a></li>
								<li><a href="javascript:void(0)">Postrgraduate Study</a></li>
								<li><a href="javascript:void(0)">Short Courses</a></li>
								<li><a href="javascript:void(0)">International</a></li>
								<li><a href="javascript:void(0)">Study Abroad</a></li>
								<li><a href="javascript:void(0)">Erasmus & Non-Erasmus Exchanges</a></li>
								<li><a href="javascript:void(0)">Language Center</a></li>
								<li><a href="javascript:void(0)">Open Days</a></li>
								<li><a href="javascript:void(0)">Apply</a></li>
								<li><a href="javascript:void(0)">Enrol</a></li>
								<li><a href="./studentfees.html" class="{{#is page.basename "studentfees"}}active{{/is }}">Student Fees & Funding</a></li>
								<li><a href="javascript:void(0)">Student Services</a></li>
								<li><a href="javascript:void(0)">Library Services</a></li>
								<li><a href="javascript:void(0)">Term Dates</a></li>
								<li><a href="javascript:void(0)">Academic Regulations</a></li>
								<li><a href="javascript:void(0)">Accomodation</a></li>
								<li><a href="javascript:void(0)">Students' Union</a></li>
								<li><a href="javascript:void(0)">Facilities</a></li>
								<li><a href="javascript:void(0)">Widening Participation</a></li>
								<li><a href="javascript:void(0)">Awards Ceremonies</a></li>
								<li><a href="javascript:void(0)">Term Dates</a></li>
								<li><a href="javascript:void(0)">Summer Shows</a></li>
							</ul>

			<li><a href="#" class="trigger-subnav">Research<span></span></a></li>
							
							<ul class="menu-expanded">	
								<li><a href="javascript:void(0)">Research Degrees</a></li>
								<li><a href="javascript:void(0)">UAL Staff Researchers</a></li>
								<li><a href="javascript:void(0)">Current Research & Projects</a></li>
								<li><a href="javascript:void(0)">UAL Research Centres</a></li>
								<li><a href="javascript:void(0)">Impact of UAL Research</a></li>
								<li><a href="javascript:void(0)">Researching at UAL</a></li>
								<li><a href="javascript:void(0)">Researching News & Events </a></li>
								<li><a href="javascript:void(0)">UAL: University Chairs</a></li>
								<li><a href="javascript:void(0)">Open Days</a></li>
								<li><a href="javascript:void(0)">Apply</a></li> 
							</ul>	

			<li><a href="#" class="trigger-subnav">Careers<span></span></a></li>
							
							<ul class="menu-expanded">	
								<li><a href="javascript:void(0)">Student Jobs & Careers</a></li>
								<li><a href="javascript:void(0)">Find Jobs & Internships</a></li>
								<li><a href="javascript:void(0)">Get Jobs Advice</a></li>
								<li><a href="javascript:void(0)">Events & Workshops</a></li>
								<li><a href="javascript:void(0)">Funding & Mentoring</a></li>
								<li><a href="javascript:void(0)">Freelance & Business Advice</a></li>
								<li><a href="javascript:void(0)">Exhibit & Sell Your Work</a></li> 
								<li><a href="javascript:void(0)">Employers & Partners</a></li>
								<li><a href="javascript:void(0)">About Careers & Employability</a></li> 
							</ul>	

			<li><a href="#" class="trigger-subnav">Alumni & Friends<span></span></a></li>
							
							<ul class="menu-expanded">	
								<li><a href="javascript:void(0)">Alumni & Friends</a></li>
								<li><a href="javascript:void(0)">Benefits</a></li>
								<li><a href="javascript:void(0)">Alumni Groups</a></li>
								<li><a href="javascript:void(0)">Events</a></li>
								<li><a href="javascript:void(0)">Inspiring Alumni</a></li>
								<li><a href="javascript:void(0)">Support & Donate</a></li>
								<li><a href="javascript:void(0)">Update Details</a></li> 
							</ul>	

			<li><a href="#" class="trigger-subnav">Business<span></span></a></li>
							
							<ul class="menu-expanded">	
								<li><a href="javascript:void(0)">Business</a></li>
								<li><a href="javascript:void(0)">Our Student & Graduate Talent</a></li>
								<li><a href="javascript:void(0)">Consultancy & Commissions </a></li>
								<li><a href="javascript:void(0)">Sponsorship & Partnerships</a></li>
								<li><a href="javascript:void(0)">Innovation & Research </a></li>
								<li><a href="javascript:void(0)">Training & Development</a></li>
								<li><a href="javascript:void(0)">Venue Hire & Conferences</a></li> 
							</ul>

			<li><a href="#" class="trigger-subnav">About UAL<span></span></a></li>
							
							<ul class="menu-expanded">	
								<li><a href="javascript:void(0)">About UAL</a></li>
								<li><a href="javascript:void(0)">Contact UAL</a></li>
								<li><a href="javascript:void(0)">UAL Jobs</a></li>
								<li><a href="javascript:void(0)">Strategy & Governance</a></li>
								<li><a href="javascript:void(0)">Events</a></li>
								<li><a href="javascript:void(0)">UAL Awarding Body</a></li>
								<li><a href="javascript:void(0)">Press Office</a></li> 
								<li><a href="javascript:void(0)">UAL Showroom</a></li>
								<li><a href="javascript:void(0)">Collections & Galleries</a></li>
								<li><a href="javascript:void(0)">Teaching & Learning</a></li>
								<li><a href="javascript:void(0)">Diversity</a></li>
								<li><a href="javascript:void(0)">Progression Partnerships</a></li>
								<li><a href="javascript:void(0)">Environment & Sustainability</a></li>
								<li><a href="javascript:void(0)">Support Our Creative Future</a></li> 
							</ul>
		</ul>
		 
	</div>
</nav>


<nav id="desktop-menu" class="global-menu desktop-menu"> 
		<div class="close-button-wrap"> 
			<a href="#" title="Close main menu" id="desktop-menu-close" class="menu-button menu-close">Close</a>
		 
		</div>
		<div class="wrapper">
		<ul> 
			<li><a href="study.html">Study</a></li>
			<li><a href="javascript:void(0)">Research</a></li>
			<li><a href="javascript:void(0)">Careers</a></li>
			<li><a href="javascript:void(0)">Alumni & Friends</a></li>
			<li><a href="javascript:void(0)">Business</a></li>
			<li><a href="javascript:void(0)">About UAL</a></li>  
		</ul>
		</div>
</nav>

<nav id="csm-menu" class="global-menu csm-menu"> 
		<ul>
			<li><a href="#" id="csm-menu-close" class="menu-button menu-close">Close</a></li>
			<li><a href="csm.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="javascript:void(0)">Courses</a></li>
			<li><a href="javascript:void(0)">What's on</a></li>
			<li><a href="javascript:void(0)">CSM Public</a></li>
			<li><a href="javascript:void(0)">Research</a></li> 
			<li><a href="javascript:void(0)">Business & Innovation</a></li> 
			<li><a href="javascript:void(0)">Drama Centre London</a></li> 
		</ul>
</nav>