
<nav id="global-menu" class="global-menu">
	<div class="top-right-buttons">
		<a href="#" title="Close main menu" id="trigger-menu-close" class="menu-button">Close</a>
	</div>

	<div class="menu-content">
		<ul>
			<li>
				<a href="./.html" title="Go to " class="page-link">a</a>
			</li>
			<li>
				<a href="./.html" title="Go to " class="page-link">a</a>
			</li>
			<li>
				<a href="./.html" title="Go to " class="page-link">a</a>
			</li>
		</ul>
 
		 

	</div>
</nav>