<div class="content-container">
<div class="wrapper">
	
 
	<div class="hero-nav csm-hero hero-master">
		<div class="hero-nav-inner">
		<h1><a href="csm.html">Central Saint Martins</a></h1>
		<ul>
			<li><a href="csm.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="#">Courses</a></li>
			<li><a href="#">What's on</a></li>
			<li><a href="#">CSM Public</a></li>
			<li><a href="#">Research</a></li> 
			<li><a href="#">Business & Innovation</a></li> 
			<li><a href="#">Drama Centre London</a></li> 
		</ul>
		<!-- triiger --> 
		<a href="#" id="trigger-menu-csm" class="hero-mobile-submenu">Menu</a>
		<!-- -->
		</div>
	</div> 

</div>

<div class="wrapper">

	<nav class="sidenav csm-hero">
		<ul>	
			<li><a href="about.html" class="active">About</a></li>
			<li><a href="javascript:void(0)">History</a></li>
			<li><a href="javascript:void(0)">Facilities</a></li>
			<li><a href="javascript:void(0)">Widening Participation</a></li>
			<li><a href="javascript:void(0)">Museum & Study Collection</a></li>
			<li><a href="javascript:void(0)">Find Us</a></li>
			<li><a href="javascript:void(0)">Contact Us</a></li> 
		</ul>
	</nav>

	<div class="main-content">
 
		<div class="wrapper">

		<div class="row">

		<h2>About CSM</h2>
		<p class="leader">Central Saint Martins is one of the world’s leading centres for art and design education, a reputation based around the achievements of its graduates and the creative energy of its current staff and students. </p><p>The College brings a broad range of art and design activities together in an extraordinary new building, voted the world’s best higher education building in 2012. The building allows the exchange of ideas and techniques across disciplines, acting as a huge workshop of thinking and making, underpinned by a strong research base and exceptional technical resources.&nbsp;</p><p>Central Saint Martins is centred around <a href="/csm/courses/our-programmes/">nine programme areas</a>:&nbsp;</p><ul class="copy-list"><li><a href="/csm/courses/our-programmes/art-programme/">Art</a></li><li><a href="/csm/courses/our-programmes/product-ceramic--industrial-design-programme/">Product, Ceramic and Industrial Design</a></li><li><a href="/csm/courses/our-programmes/culture--enterprise-programme/">Culture and Enterprise</a></li><li><a href="/csm/courses/our-programmes/drama--performance-programme/">Drama and Performance</a></li><li><a href="/csm/courses/our-programmes/fashion-programme/">Fashion</a></li><li><a href="/csm/courses/our-programmes/graphic-communication-design-programme/">Graphic Communication Design</a></li><li><a href="/csm/courses/our-programmes/spatial-practices-programme/">Spatial Practices</a></li><li><a href="/csm/courses/our-programmes/jewellery--textiles-programme/">Jewellery and Textiles</a></li><li><a href="/csm/courses/our-programmes/foundation--access-to-he-programme/">Foundation and Access to HE</a></li></ul><p>These programmes share an approach of exploring the boundaries of their discipline; our students and staff are continually curious and always restless in developing beyond the accepted norms of their subject, so the work emerging from Central Saint Martins is at the forefront of its area. The College inspires its students and staff to be alert to new approaches and ideas; the resulting journey can be challenging but is never dull.&nbsp;</p><p>This forward-looking approach places Central Saint Martins at the heart of London’s dynamic creative scene. All of our courses have strong links with practice and industry through visiting lectures, live projects and tutors who are leading practitioners. In any one month numerous people, events and exhibitions pass through the College, enriching the core curriculum in multiple ways and making it a major force in the art and design world.&nbsp;</p><p>Students from all over the world come to join us in this exciting adventure. You could be the next. Be brave and do what you love.</p> 
		</div> 

		</div> 

	</div>

</div>
</div>