<div class="hero-master">
<section class="hero-wrap">
	
	<div class="hero-nav">
		<div class="hero-nav-inner">
		<h1><a href="csm.html">Central Saint Martins</a></h1>
		<ul>
			<li><a href="csm.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="#">Courses</a></li>
			<li><a href="#">What's on</a></li>
			<li><a href="#">CSM Public</a></li>
			<li><a href="#">Research</a></li> 
			<li><a href="#">Business & Innovation</a></li> 
			<li><a href="#">Drama Centre London</a></li> 
		</ul>
		<!-- triiger --> 
		<a href="#" id="trigger-menu-csm" class="hero-mobile-submenu">Menu</a>
		<!-- -->
		</div>
	</div>



	<div class="hero-img"></div>	
	<div class="hero">
		<div class="hero-content">
			<h2 class="hero-title">The Intelligent<br/>Optimist</h2>
			<h3>Exhibition and event series 19 September - 17 October</h3>
			<div class="button-container">
				<a href="#" class="button" title="Find out more">Find out more</a>
				<a href="#" class="button" title="View all events">View all events</a>
			</div>
		</div>
	</div>
</section>
</div>



<section id="section-subsearch">
<div class="wrapper">

	<div class="subsearch-block"> 
		<input placeholder="Find courses at Central Saint Martins" />
		<select>
			<option>Level</option>
			<option>Level 2</option>
			<option>Level 3</option>
			<option>Level 4</option>
			<option>Level 5</option>
		</select>
		<a href="#" class="button">Search</a>
	</div>
</div> 
</section>


<section id="section-course-type">
<div class="wrapper">

	<div class="inner-content">
		 <ul>
		 	<li><a href="javascript:void(0)">Short courses</a></li>
		 	<li><a href="javascript:void(0)">Foundation & Access HE</a></li>
		 	<li><a href="javascript:void(0)">Undergraduate courses</a></li>
		 	<li><a href="javascript:void(0)" class="last">Postgraduate courses</a></li>
		 </ul>
	</div>
</div>
</section>



<section id="section-csmpromo" class="placeholder">
<div class="wrapper">

	<div class="inner-content content-desktop">
		 <img src="assets/img/static-imgs/csm-promo1.jpg">
	</div> 
	<div class="inner-content content-tablet">
		 <img src="assets/img/static-imgs/csm-promo1-tab.jpg">
	</div> 
	<div class="inner-content content-mobile">
		 <img src="assets/img/static-imgs/csm-promo1-mob.jpg">
	</div> 
</div>
</section>




<section id="section-twitter-carousel">
<div class="wrapper">
	<h3>CSM on Twitter</h3>

	<div class="twitter-content">
		<div>
	  	<p>
	  		UAL staff and students: celebrate the 40th anniversary of the first Sex Pistol’s gig held at CSM, 6 Nov: <br/>
	  		<a href="#" target="new">http://events.arts.ac.uk/event/2015/11/6/Be-Reasonable-Demand-the-Impossible/</a>

	  	</p>
	  	<p class="timestamp">2 hours</p>
	  </div>
	  <div>
	  	<p>
	  		See our Fine Art students in a live stream exhibition with Gustav Metzger, 4 Nov: <br/>
	  		<a href="#" target="new">ttp://events.arts.ac.uk/event/2015/11/4/Gustav-Metzger-Remember-Nature-Project/ … </a>
	  	</p>
	  	<p class="timestamp">3 hours</p>
	  </div>
	  <div>
	  	<p>
	  		Central Saint Martins X The Big Draw - check out the film here:  <br/>
	  		<a href="#" target="new">http://events.arts.ac.uk/event/2015/11/6/Be-Reasonable-Demand-the-Impossible/</a>
	  	</p>
	  	<p class="timestamp">Nov 6</p>
	  </div>
	  <div>
	  	<p>
	  		UAL staff and students: celebrate the 40th anniversary of the first Sex Pistol’s gig held at CSM, 6 Nov: <br/>
	  		<a href="#" target="new">http://events.arts.ac.uk/event/2015/11/6/Be-Reasonable-Demand-the-Impossible/</a>
	  	</p>
	  	<p class="timestamp">Nov 7</p>
	  </div>
	  <div>
	  	<p>
	  		UAL staff and students: celebrate the 40th anniversary of the first Sex Pistol’s gig held at CSM, 6 Nov: <br/>
	  		<a href="#" target="new">http://events.arts.ac.uk/event/2015/11/6/Be-Reasonable-Demand-the-Impossible/</a>
	  	</p>
	  	<p class="timestamp">Nov 12</p>
	  </div>
	  <div>
	  	<p>
	  		UAL staff and students: celebrate the 40th anniversary of the first Sex Pistol’s gig held at CSM, 6 Nov: <br/>
	  		<a href="#" target="new">http://events.arts.ac.uk/event/2015/11/6/Be-Reasonable-Demand-the-Impossible/</a>
	  	</p>
	  	<p class="timestamp">Nov 13</p>
	  </div>
	</div>
</div>
<div class="wrapper-additional">
	<a href="#" class="twitter-handle">Follow @CSMNews</a>
</div>
</section>



<section id="section-csmcontent" class="placeholder">
<div class="wrapper">

	<div class="inner-content content-desktop">
		 <img src="assets/img/static-imgs/csm-content.jpg">
	</div> 
	<div class="inner-content content-tablet">
		 <img src="assets/img/static-imgs/csm-content-ipad.jpg">
	</div> 
	<div class="inner-content content-mobile">
		 <img src="assets/img/static-imgs/csm-content-mob.jpg">
	</div> 
</div>
</section>