<div class="hero-master">
<section class="hero-wrap">
	<div class="hero-img"></div>	
	<div class="hero">
		<div class="hero-content">
			<h2 class="hero-title">six colleges<br/>one university</h2>
		</div>
	</div>
	
	<div class="button-container">
		<div class="wrapper">
			<a href="#" class="button" title="View our prospectus">View our prospectus</a>
			<a href="#" class="button" title="View our Open Days">View our Open Days</a>
		</div>
	</div>
	
</section>
</div>



<section id="section-subsearch">
<div class="wrapper">

	<div class="subsearch-block">
		<input placeholder="Find courses at UAL" />
		<select>
			<option>Level</option>
			<option>Foundation</option>
			<option>Undergraduate</option>
			<option>Postgraduate</option>
			<option>Short Course</option>
		</select>
		<a href="#" class="button">Search</a>
	</div>


</div>
</section>




<section id="section-course-type">
<div class="wrapper">

	<div class="inner-content">
		 <ul>
		 	<li><a href="javascript:void(0)">Undergraduate</a></li>
		 	<li><a href="javascript:void(0)">Postgraduate</a></li>
		 	<li><a href="javascript:void(0)">Foundation</a></li>
		 	<li><a href="javascript:void(0)" class="last">Short courses</a></li>
		 </ul>
	</div>


</div>
</section>




<section id="section-college">
<div class="wrapper row">

	<div class="college-block">
		<div class="inner-panel">

			<h3>We are UAL</h3>

			<div class="panel-container">
			<div class="left panel">
				<a href="#" title="Camberwell College of Arts">Camberwell College of Arts</a>
				<a href="./csm.html" title="Central Saint Martins">Central Saint Martins</a>
				<a href="#" title="Central Saint Martins">Chelsea College of Arts</a>
			</div>
			<div class="right panel">
				<a href="#" title="London College of Communications">London College of Communications</a>
				<a href="#" title="London College of Fashion">London College of Fashion</a>
				<a href="#" title="Wimbledon College of Arts">Wimbledon College of Arts</a>
			</div>
			</div>


		</div>
	</div>

</div>
</section>

<section id="section-promos">
<div class="wrapper">

	<div class="inner-content content-desktop">
		 <img src="assets/img/static-imgs/promo1.png"><img src="assets/img/static-imgs/promo2.png">  
	</div> 
	<div class="inner-content content-mobile">
		 <img src="assets/img/static-imgs/promo1-mob.png"><img src="assets/img/static-imgs/promo2-mob.png">  
	</div> 
</div>
</section>


<section id="section-whatson"> 

	<div class="inner-content content-desktop">
		 <img src="assets/img/static-imgs/promo-whatson.png"> 
	</div> 
	<div class="inner-content content-mobile">
		 <img src="assets/img/static-imgs/promo-whatson-mob.png"> 
	</div> 

 
</section>