<div class="content-container">
<div class="placeholder-full">
	
	<div class="inner-content content-desktop">
		 <img src="assets/img/static-imgs/lcc.jpg">  
	</div> 
	<div class="inner-content content-mobile">
		<img src="assets/img/static-imgs/lcc-mob.jpg">  
	</div> 

</div>
</div>