<div class="content-container">
<div class="wrapper">

	<nav class="sidenav">
	<ul class="breadcrumb">
		<li class="lead"><a href="#" class="prev" id="breadcrumb-toggle">< Previous <span id="breadcrumb-icon"></span></a></li>
		<li class="last history-item"><a href="study.html">Study</a></li>
	</ul>
	<ul>	
		<li><a href="studentfees.html" class="active">Student Fees & Funding</a></li>
		<li><a href="javascript:void(0)" class="subsub">Tuition Fees</a></li>
		<li><a href="javascript:void(0)" class="subsub">Further Education Funding</a></li>
		<li><a href="javascript:void(0)" class="subsub">Undergraduate Funding</a></li>
		<li><a href="javascript:void(0)" class="subsub">Postgraduate Funding</a></li>
		<li><a href="javascript:void(0)" class="subsub">International Fees & Money</a></li>
		<li class="last"><a href="javascript:void(0)" class="subsub">Student Living Cost & Discounts</a></li>  
	</ul>
	</nav>

	<div class="main-content">

		<div class="wrapper placeholderx2">

			<div class="inner-content content-desktop">
				 <img src="assets/img/static-imgs/studentfees-content.jpg">
			</div>
	 
			<div class="inner-content content-mobile">
				 <img src="assets/img/static-imgs/studentfees-content-mob.jpg">
			</div> 
		</div> 


	</div>

</div>
</div>