<div class="content-container">
<div class="wrapper">

	<nav class="sidenav">
		<ul>	
			<li><a href="study.html" class="active">Study</a></li>
			<li><a href="javascript:void(0)">Courses</a></li>
			<li><a href="javascript:void(0)">Foundation in Art & Design</a></li>
			<li><a href="javascript:void(0)">Postgraduate Study</a></li>
			<li><a href="javascript:void(0)">Short Courses</a></li>
			<li><a href="javascript:void(0)">International</a></li>
			<li><a href="javascript:void(0)">Study Abroad</a></li>
			<li><a href="javascript:void(0)">Erasmus & Non-Erasmus Exchanges</a></li>
			<li><a href="javascript:void(0)">Language Center</a></li>
			<li><a href="javascript:void(0)">Open Days</a></li>
			<li><a href="javascript:void(0)">Apply</a></li>
			<li><a href="javascript:void(0)">Enrol</a></li>
			<li><a href="studentfees.html">Student Fees & Funding</a></li>
			<li><a href="javascript:void(0)">Student Services</a></li>
			<li><a href="javascript:void(0)">Library Services</a></li>
			<li><a href="javascript:void(0)">Term Dates</a></li>
			<li><a href="javascript:void(0)">Academic Regulations</a></li>
			<li><a href="javascript:void(0)">Accomodation</a></li>
			<li><a href="javascript:void(0)">Students' Union</a></li>
			<li><a href="javascript:void(0)">Facilities</a></li>
			<li><a href="javascript:void(0)">Widening Participation</a></li>
			<li><a href="javascript:void(0)">Awards Ceremonies</a></li>
			<li><a href="javascript:void(0)">Term Dates</a></li>
			<li><a href="javascript:void(0)">Summer Shows</a></li>
		</ul>
	</nav>

	<div class="main-content">


	</div>

</div>
</div>