<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	
	<link href="assets/css/app.css" rel="stylesheet">
	<script src="assets/js/vendor/modernizr.js"></script>

	{{> fonts }}
	
</head>


<body id="csm">


	<!--[if lt IE 9]>
		<div class="browsehappy">
			<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		</div>
	<![endif]-->
 

	<div class="site-wrapper">
	

		{{!-- Global header --}}
		{{> header-csm }}

		{{!-- Page content --}}
		{{> body }}

		{{!-- global footer --}}
		{{> footer }}

	</div>


	<!--[if gt IE 8]><!-->
	<script src="assets/js/vendor.js"></script>
	<script src="assets/js/app.js"></script>
	<!--<![endif]-->


</body>
</html>
