// =============================================================================
//  BUTTONS
// =============================================================================

.button {
	background-color: $black;
	color: $white; 
	padding: rem(10) rem(20);
	opacity: 1;
	display: inline-block;
	font-size: rem(17);
	font-family: $font-bold;
	margin-right: 10px;

	&:hover {
		opacity: 1;
	}

	.global-menu & {
		background-color: $white;
		color: $black; 
	}
}