// =============================================================================
//  IMGS
// =============================================================================

.lazyImgs {
	img {
		width: 100%;
	}
}

img.transparent {
	width: 100%;
}

.lazy-hidden {
	opacity: 0;
}


.video-placeholder {
	width: 100%;
}