#section-subsearch {
		z-index: 10;
		position: relative;
		@include media($small) {
			 margin-top: rem(-35);
		}

		.subsearch-block {
			margin: 0 0 rem(10) 0; 
			text-align: left;
			background-color: $white;
			padding: rem(10);
			
			@include media($small) {
				box-shadow: 1px 5px 5px #dedede;
			}

			input { 
				height: 45px;
				color: black;
				border: 1px solid #e9e9e9;
				width: 100%;
				padding-left: rem(20);
				text-transform: capitalize;
				font-family: $font-bold;
				font-size: rem(16);
				@include media($small) {
					width: 60%;
				}

			}
			::-webkit-input-placeholder { color: black; opacity: 1 !important; font-size: rem(16); font-family: $font-bold;}
			:-moz-placeholder { color: black; font-size: rem(16);font-family: $font-bold;}
			::-moz-placeholder {color: black; font-size: rem(16);font-family: $font-bold;}
			:-ms-input-placeholder {color: black; font-size: rem(16);font-family: $font-bold;}

			select {
				width: 100%; 
				height: 45px;
				color: black;
				border: 1px solid #e9e9e9; 
				font-size: rem(16);
				margin-top: 3%;
				padding-left: rem(15);
				font-family: $font-bold;
				outline: 0;

				@include media($small) {
					width: 17%;
					margin-left: 1%;
					margin-top: inherit;
					padding-left: rem(20);
				}
				@include media($medium) {
					width: 26%;
				}

				option {
					font-size: rem(16);
					padding: rem(5);
					padding-left: rem(20);
					font-family: $font-bold;
					outline: 0;
				}
 

			}

			* {
				outline: 0;
			}

			.button {
				margin-top: 3%;
				width: 100%;
				text-align: center;
				float: right; 
				@include media($small) {
					width: auto; 
					margin-left: 1%;
					margin-top: inherit;
				}
			}
		}
	}
