// =============================================================================
//	CSM PAGE
// =============================================================================


#csm {

	a:hover,a:active,
	.hero-nav h1 {
		color: #d10000;
	}

	.button:hover {
		background-color: #d10000;
	}

	.hero-nav { 

		h1 a {
			font-family: 'Levi';
			font-size: rem(18);
			text-transform: uppercase;
			color: #d10000;

			@include media($small) {
				font-size: rem(32);
			}

			@include media($medium) {
				font-size: rem(36);
			}
		}

	}

	.hero-img {
 		background-image: url(../img/hero-csm.jpg);
 	}

 

 	h2 {
 		text-transform: capitalize;
 		font-size: rem(40);
 		font-family: 'Levi';
 		@include media($small) {
			font-size: rem(54);
		}
		@include media($medium) {
			font-size: rem(64);
		}
 	}
 	h3 {
 		color: white;
 		margin: auto;
 		font-size: rem(18);
 		text-align: center;
 	}
 	.page-title {
	 	font-family: 'Levi';
	 	font-size: rem(36);
	 }
 	.button-container {
 		margin: auto; 
 		text-align: center;
 		position: relative;
 		bottom: inherit;
 		margin-top: rem(20);
 	}


 	.global-header { 
 		height: 45px;

 		.nav-mobile {
 			display: block;
 		}
 		nav ul {
 			float: right; 

 			.mega {
				padding-top: 1.1667rem;

 			}
 		}

 		.logo-desktop {
 			width: 110px;
			margin-top: 0.8333rem;
			margin-left: rem(20);
 		}

 		#trigger-menu-mobile {
 			display: block;
 			@include media($medium) {
				display: none; 
			}
 		}

 		#trigger-menu-desktop {
 			display: none;
 			@include media($medium) {
				display: block; 
			}
 		}
 	}

 	.hero {
 		top: 55% !important;

 	}
 	


 	.hero-wrap {
		min-height: 500px;
		@include media($small) {
			min-height: 540px;
		}
		.hero-content {
			margin: 0 auto 0;
			max-width: 84%;

			.button-container a {
		 		width: 160px;
		 	}

		}
	}

	#section-course-type .inner-content ul li a {
		font-family: 'Levi';
		font-size: rem(20);
	} 


	#section-course-type {
		
	}


	#section-course-type a:hover {
		color: #d10000;
	}

	#section-subsearch .subsearch-block {

		select {
			color: #757575;
		}

		::-webkit-input-placeholder { color: #757575;}
		:-moz-placeholder { color: #757575;}
		::-moz-placeholder {color: #757575;}
		:-ms-input-placeholder {color: #757575;}
	}
	#section-twitter-carousel {
		margin: rem(40) 0 ;
		position: relative;

		.wrapper {
			overflow: hidden;
			position: relative;
		}

		a:hover {
			color: #d10000;
		}
	

		h3 {
			text-align: left;
			color: black; 
			margin-bottom: rem(30);
			font-family: 'Levi';
			font-size: rem(18); 

			@include media($small) {
				font-size: rem(32);
			}

			@include media($medium) {
				font-size: rem(36);
			}
		}
		
		.wrapper-additional {
		    width: 92.5%;
		    max-width: 1280px;
		    margin: 0 auto;
		    text-align: right;
		}

		.twitter-handle {
			 
			color: black;
			font-size: rem(17);
			font-family: $font-bold;
		}

		.twitter-content {
			position: relative;

			@include clearfix;

			.slick-track {
				position: relative;
			    top: 0;
			    left: 0;
			    display: block;
			    * {
			    	outline: 0;
			    }
			}
			.slick-slide {
				float: left;
   				height: 100%;
    			min-height: 1px;
    			display: block;
    			p {
    				font-size: rem(14);
    				padding-right: rem(60);
    				line-height: rem(25);
    				color: black;
    				a {
    					color: #d10000;
    				}
    			}
    			.timestamp {
    				color: #757575;
    			}

			}  
			.slick-prev {
				display: none !important;
			}
			.slick-next {
				position: absolute;
				right: 0;
				background: transparent url(../img/arrow-next.png) no-repeat;
				width: 40px;
				height: 48px;
				cursor: pointer; 
				top: 20%;
			}
		}
	}

	.placeholder {
		margin-top: rem(0);
		@include media($small) {
			margin-top: rem(60);
		}

		.wrapper {
			width: 100%;
			@include media($small) {
			width: inherit;
			}	
		}
		.inner-content {
			margin: auto;
			text-align: center;
		}
		.content-desktop {
			display: none;
			@include media($medium) {
				display: block;
			}
		}
		.content-tablet {
			display: none;
			@include media($small) {
				display: block;
			}
			@include media($medium) {
				display: none;
			}
		}
		.content-mobile {
			display: block;
			@include media($small) {
				display: none;
			}
		}


		img { 
		}
	}
}