// =============================================================================
//	HOME PAGE
// =============================================================================


#home {

	#section-college {

		.college-block {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../img/bg-college.jpg);
			min-height: 420px; 
			@include media($small) {
				 min-height: 371px; 
			}

			.inner-panel {
				background-color: $white;
				opacity: 0.95;
				max-width: 790px;
				width: 85%;
				position: relative;
				top: rem(40);
				text-align: center; 
				margin: rem(40) auto;
				
				@include media($small) {
					width: 75%;
					padding-bottom: rem(40);
				}
				.panel-container {
					@include clearfix;
				}
				.panel {
					width: 100%;
					padding: 0 2%;
					text-align: left;
					@include media($small) {
						width: 48%;  
						margin: 1% 1% 1% 1%;
					}
				}

				h3 { 
					font-size: rem(30);
					padding-top: rem(20);
					margin-top: rem(20);
				}

				a {
					display: block;
					color: black;
					font-size: rem(16); 
					border-bottom: 1px solid #c8c8c8;
					padding: rem(10) rem(20);
					font-family: $font-bold;
					@include media($medium) {
						font-size: rem(18); 
					}

				}
			}
		}
	}

	#section-promos {
		margin: rem(40);
		
		.content-desktop {
			display: none; 
			@include media($small) {
				display: block; 

			}
		}
		.content-mobile {
			display: block; 
			@include media($small) {
				display: none; 
			}
		}

		.inner-content {
			margin: auto;
			text-align: center;
			img {
				margin-top: 10%;
				@include media($small) {
					margin: 0 1%;
					width: 48%;
					display: inline-block;
				}
				&:nth-child(1) {
					margin-left: 0;
					text-align: left;
				}
				&:nth-child(2) {
					margin-right: 0;
					text-align: right;
				}
			}
		}
	}

	#section-whatson {
		margin: rem(40);
		
		.content-desktop {
			display: none; 
			@include media($small) {
				display: block; 

			}
		}
		.content-mobile {
			display: block; 
			@include media($small) {
				display: none; 
			}
		}

		.inner-content {
			margin: auto;
			text-align: center;
			img {
				width: 100%;
				@include media($small) {
					margin: 0 1%;	

				}
			}
		}
	}

}