// =============================================================================
//	STUDY PAGE
// =============================================================================


#study {

	a:hover,a:active {
		color: #e5006e;
	}

	.button:hover {
		background-color: #e5006e;
	}

	 
	
}