<!--[if !IE]><!-->
<div class="page-overlay"></div>
<!--<![endif]-->


<!-- SECTION: HERO -->
<section id="hero-wrap" class="hero-wrap design">
	<!-- transparent img same proportions as the video -->
	<img class="transparent" id="img1" src="../assets/img/transparent-imgs/video-transparent.png"/>

	<div id="crossfade" class="crossfade-hero">
		<!-- <div id="curtainmode-splash" class="cm-bg"></div> -->
	    <span></span>
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
	<div class="hero">
		<div class="hero-content">
			<h2 class="hero-title">Design</h2>
		</div>
	</div>
	<div id="accessibility-screen"></div>
	<!--[if IE 9]>
		<video class="video-design" id="video" src="https://b60c24b9e4911ddffcf7-1d6d66f234f09ae70e621320e1432d9c.ssl.cf3.rackcdn.com/stage2a/video/serif-design.mp4" autoplay="" loop="" muted="" type="video/mp4"></video>
	<![endif]-->

</section>


<!-- SECTION: INTRO TEXT -->
<section class="container">
	<div class="row row-page-intro design-intro">
		<p class="page-intro-text">Like typographers designing a letter, we studied both the object and its interaction with the space around it.</p>
		<p class="page-intro-author">Ronan &amp; Erwan Bouroullec</p>
	</div>
</section>


<!-- SECTION: SERIF 360 -->
<section class="container">
	<div class="row row-serif-360">
		<div class="grid-wrap">
			<div class="grid-item grid-full">
				<div class="imgs-caption explore-3d-caption">
					<p class="img-caption-text explore-in-3d">
						<a href="#" id="rotate-left" class="webfont-cheveron left" title="Rotate image left" data-category="{{page.basename}} page" data-action="Rotate" data-label="TV image" data-om="global:seriftv:uk:{{page.basename}}_3d_left"></a>
						Explore SERIF TV in 3D
						<a href="#" id="rotate-right" class="webfont-cheveron right" title="Rotate image right" data-category="{{page.basename}} page" data-action="Rotate" data-label="TV image" data-om="global:seriftv:uk:{{page.basename}}_3d_right"></a>
					</p>
				</div>

				<div class="threesixty-wrap">
					<div class="threesixty-content">
						<div class="threesixty serif-360-tv">
							<div class="spinner">
								<span>0%</span>
							</div>
							<ol class="threesixty_images">
							</ol>
						</div>
					</div>
				<img id="img2" class="transparent" src="../assets/img/transparent-imgs/transparent-360.png" alt="Transparent Img for 360 interactive component" />
				</div>

				<div class="imgs-caption serif-360-caption">
					<p class="img-caption-text front show">Seen from the front, SERIF TV is defined by a single frame, one colour, one shape. Available in white, dark blue and red.</p>
					<p class="img-caption-text side">The design of the ‘I’ shape means it can stand seamlessly in the home by resting on its own base.</p>
					<p class="img-caption-text back">A woven fabric panel, designed to emulate the effect of curtain mode, elegantly conceals the connectors on the back of the television.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- SECTION: SIDE SHOT -->
<section class="container">
	<div class="row row-side-shot">
		<div class="custom-grid-wrap">
			<div class="grid-img left custom-sideshot">
				<img id="img3" class="lazy" data-effect="fadeInLeft" src="../assets/img/transparent-imgs/transparent-side-shot.png" data-src="../assets/img/design-imgs/samsung-serif-side-shot.jpg" alt="Profile of red Serif TV"/>
				<noscript><img src="../assets/img/design-imgs/samsung-serif-side-shot.jpg" alt="Profile of red Serif TV" /></noscript>
			</div>
			<div class="grid-text right">
				<div class="imgs-caption side-shot-caption">
					<p class="img-caption-text">In profile, SERIF TV forms a clear capital ‘I’ shape, its slim body broadening to form a flat surface like a small shelf at the top.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- SECTION: WITH LEGS -->
<section class="container">
	<div class="row row-with-legs">
		<div class="custom-grid-wrap">
			<div class="grid-img right custom-withlegs">
				<img id="img4" class="lazy right" data-effect="fadeInRight" src="../assets/img/transparent-imgs/transparent-with-legs.png" data-src="../assets/img/design-imgs/samsung-serif-with-legs.jpg" alt="Serif TV on stand" />
				<noscript><img src="../assets/img/design-imgs/samsung-serif-with-legs.jpg" class="img-custom-withlegs" alt="Serif TV on stand" /></noscript>
			</div>
			<div class="grid-text left">
				<div class="imgs-caption with-legs-caption">
					<p class="img-caption-text">SERIF TV moves away from the logic of ultra thin screens. Its presence is like an object; you can turn around and manipulate it. It can stand anywhere – even on the floor using the legs.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- SECTION: REMOTE -->
<section class="container">
	<div class="row row-remote">
		<div class="custom-grid-wrap">
			<div class="grid-img left custom-remote">
				<img id="img5" class="lazy" data-effect="fadeInLeft" src="../assets/img/transparent-imgs/transparent-remote.png" data-src="../assets/img/design-imgs/samsung-serif-remote.jpg" alt="Serif TV remote control" />
				<noscript><img src="../assets/img/design-imgs/samsung-serif-remote.jpg" alt="Serif TV remote control" /></noscript>
			</div>
			<div class="grid-text grid-text-remote right">
				<div class="imgs-caption remote-caption">
					<p class="img-caption-text">Most of the time, design is not about inventing functions but making them simple and accessible. The Bouroullec brothers adopted this approach when re-designing the existing Samsung TV software, to create a bespoke user interface and remote control.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- SECTION: VIDEO -->
<section class="container">
	<div class="row row-design-video">
		<div class="grid-wrap">
			<div class="grid-item grid-full">
				<div class="responsive-video">
					<img id="img6" class="video-placeholder" src="../assets/img/transparent-imgs/transparent-design-video.jpg" />
					<iframe title="User interface demo video" src="https://player.vimeo.com/video/138286060?autoplay=0&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<div class="grid-item grid-full">
				<div class="imgs-caption design-video-caption">
					<p class="img-caption-text">Like pulling a curtain over the screen, the user interface applies a filter over the content giving an abstract impression of what is going on behind. When ‘curtain mode’ is active, viewers can access simple services such as a clock, Bluetooth speakers, apps and their photo gallery.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- SECTION: SERIF RANGE -->
<section id="specs-master" class="container">
	<div class="row row-range">

		{{> specs }}

	</div>
</section>