// =============================================================================
//	MIXINS
// =============================================================================

// arrows
@mixin arrow-down($width, $height, $color) {
	border-style: solid;
	border-width: $height $width 0 $width;
	border-color: $color transparent transparent;
}

@mixin arrow-up($width, $height, $color) {
	border-style: solid;
	border-width: 0 $width $height $width;
	border-color: transparent transparent $color;
}

// Clearfix
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Vertically center
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
